<footer>
    <div id="footer">
        <div class="row" style="margin-right:0px; ">
            <div class="col-sm-4 xs-hidden"></div>
            <div class="col-sm-4 col-xs-12 text-center">
                <div class="row">
                    <div class="col-xs-12 text-center" style="margin-bottom: 2%;">
                        Ranggo | <a href="https://www.facebook.com/RanggoProject"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-2">
                        <a href="/#/" class="footerLink"><i class="glyphicon glyphicon-home"></i></a>
                    </div>
                    <div class="col-xs-2">
                        <a href="/#/categories" class="footerLink"><i class="glyphicon glyphicon-search"></i> people</a>
                    </div>
                    <div class="col-xs-2">
                        <a href="/#/compare" class="footerLink"><i class="glyphicon glyphicon-sort"></i></a>
                    </div>
                    <div class="col-xs-2">
                        <a href="/#/newsfeed" class="footerLink"><i class="glyphicon glyphicon-th-list"></i></a>
                    </div>
                    <div class="col-xs-2">
                        <a href="/#/advancedSearch" class="footerLink"><i class="glyphicon glyphicon-search"></i> news</a>
                    </div>
                    <div class="col-xs-1"></div>
                    <div class="col-xs-12 text-center" style="margin-top:3%;margin-bottom:2%;font-size:0.8em;">
                        © 2016 Ranggo. All rights reserved.
                    </div>
                </div>
            </div>
            <div class="col-sm-4 xs-hidden"></div>
        </div>
    </div>
</footer>
