<div class="container-fluid lato-font">
    <div class="row">
        <div class="col-xs-12 col-md-3 customDiv">
            <div class="col-xs-12 text-center" style="background-color: white;padding-bottom: 10%;">
                <h4 class="raleway-font">MOST MENTIONED</h4>
                <div class="col-xs-12">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                            <li data-target="#myCarousel" data-slide-to="4"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <a href="/#/people/{{top5People[0].id}}"><img class="img img-responsive" src="{{top5People[0].pictureUrl}}" alt="{{top5People[0].name}}"></a>
                            </div>

                            <div class="item">
                                <a href="/#/people/{{top5People[1].id}}"><img class="img img-responsive" src="{{top5People[1].pictureUrl}}" alt="{{top5People[1].name}}"></a>
                            </div>

                            <div class="item">
                                <a href="/#/people/{{top5People[2].id}}"><img class="img img-responsive" src="{{top5People[2].pictureUrl}}" alt="{{top5People[2].name}}"></a>
                            </div>

                            <div class="item">
                                <a href="/#/people/{{top5People[3].id}}"><img class="img img-responsive" src="{{top5People[3].pictureUrl}}" alt="{{top5People[3].name}}"></a>
                            </div>

                            <div class="item">
                                <a href="/#/people/{{top5People[4].id}}"><img class="img img-responsive" src="{{top5People[4].pictureUrl}}" alt="{{top5People[4].name}}"></a>
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-8 customDiv">
            <div class="col-xs-12 col-md-7">
                <md-content class="md-padding">
                    <div class="col-xs-12 text-center ">
                        <h4 class="raleway-font">SEARCH PERSON</h4>
                    </div>
                    <div class="col-xs-9" style="margin-top:4%;">
                        <form ng-submit="$event.preventDefault()">
                            <md-autocomplete
                                    ng-disabled="false"
                                    md-no-cache="false"
                                    md-selected-item="selectedItem"
                                    md-search-text="searchText"
                                    md-items="item in querySearch(searchText)"
                                    md-item-text="item.display"
                                    md-min-length="0"
                                    placeholder="Search person by name">
                                <md-item-template>
                                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No people matching "{{searchText}}" were found.
                                </md-not-found>
                            </md-autocomplete>
                        </form>
                    </div>
                    <div class="col-xs-3">
                        <md-button class="md-fab" aria-label="Eat cake"  ng-click="search()">
                            <i class="glyphicon glyphicon-search"></i>
                        </md-button>
                    </div>
                    <div class="col-xs-12 errorDiv" ng-hide="hiddenError">
                        <h4>
                            SEARCH ERROR
                        </h4>
                        <p>You have searched for a resource that doesn't exist. Please fill the field with a valid person name.</p>
                    </div>
                </md-content>
            </div>
            <div class="col-xs-12 col-md-5 innerDiv">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h4 class="raleway-font">CATEGORIES</h4>
                    </div>
                    <div class="col-xs-12">
                        <div class="tagDiv" ng-repeat="category in categories">
                                <a href="/#/categories?category={{category}}">{{category}}</a>
                        </div>
                    </div>
                    <div class="col-xs-12 text-right">
                        <a href="/#/categories">See all categories <i class="glyphicon glyphicon-triangle-right"></i> </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 innerDiv" style="margin-top: 2%;padding-bottom:3%;padding-left:3%;">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="raleway-font"><a href="">LATEST NEWS</a></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 newsDiv" ng-repeat="news in latestNews">
                        <a href="/#/news/{{news.id}}">
                            <h4>{{news.title}}</h4>
                            <small>{{news.timestamp}}</small>
                            <small>...read more  <i class="glyphicon glyphicon-triangle-right"></i></small>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="push"></div>